{% extends 'layouts/index.html' %}

{% block content %}
    <div style="display: flex; justify-content: space-evenly; flex-wrap: ">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Rate: {{ post.rate }}</h6>
                    <a href="#" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


