{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post_block {
            width: 80%;
            margin-left: 10%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 30px;
        }
        .comment_block{
            background: #242b2e;
            margin-bottom: 20px;
            color: #ffffff;
            padding: 10px;
        }
    </style>
     <div class="post_block">
        {% if tovar.image %}
            <img src="/media/{{ tovar.image }}" alt="ooops!">
        {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ11As2sUdSSCKqMOcmeNaGrYR76acQ6va0gpJ9ypVGSmscUNtH0psbrRP_lfrK7Epuz4k&usqp=CAU" alt="ooops!">
        {% endif %}
        <div class="info">
             <h1>{{ tovar.title }}</h1>
             <h4>{{ tovar.description }}</h4>
             <h5>{{ tovar.price }}</h5>
             <h5>{{ tovar.quantity }}</h5>
             <div class="dates">
                 <h5>Created Date {{ tovar.created_date }}</h5>
                 <h5>Modified Date {{ tovar.modified_date }}</h5>
             </div>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h5>{{ comment.text }}</h5>
                </div>
            {% endfor %}
        </div>
     </div>
{% endblock %}
